body {
    
}
.Firstname {
    border: 1px solid #ddd;
    border-radius: 1px;
    transition: all .2s ease-in-out;
}
    .Firstname:hover {
        border: 1px solid #bbb;
        box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    }
.Secondname {
    border: 1px solid #ddd;
    border-radius: 1px;
    transition: all .2s ease-in-out;
}
    .Secondname:hover {
    border: 1px solid #bbb;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    }
.button {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}
    .button:hover {
        background-color: #ddd;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-color: #aaa;
    }