@page "{restaurantId:int}"


@model ASP.NET_Core_Fundamentals.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Details";
}



<h2>@Model.Restaurant.Name</h2>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cusine
</div>

<a asp-page="./Lists" class="btn btn-dark">All Restaurants</a>