@using ALLMVC.Models;
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "SearchNormal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SearchNormal</h1>
<div class="card card-body bg-light">
    <form asp-action="SearchNormal" class="form-inline">
        <div class="form-group">
            <label class="control-label">Field Name</label>
            <select name="FieldName" class="form-control">
                <option value="Id">ID</option>
                <option value="Name">Name</option>
                <option value="DepartmentId">DepartmentId</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">KeyWord</label>
            <input type="text" name="KeyWord" id="KeyWord" required class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Go" class="btn btn-primary" />
        </div>
    </form>
</div>
@if (Model == null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>DepartmentId</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.DepartmentId</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Hello</h1>
}