@{ 
    ViewData["Title"] = "MVCIndex";
}

<h1>Tutorials</h1>


<h4>Dependency Injection</h4>

<ol>
    <li>
        <a asp-area="" asp-controller="DI" asp-action="Index">Dependency Injection</a>
    </li>
</ol>